@import url("https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&family=Geist:wght@100..900&display=swap");
@import "tailwindcss";
@plugin "tailwindcss-motion";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@theme {
  --font-geist-mono: "Geist Mono", monospace;
  --font-geist: "Geist", sans-serif;

  --animate-slow-peek: slow-peek cubic-bezier(1, 0.31, 0.19, 1.27) 1.5s forwards;
  --animate-reverse-slow-peek: reverse-slow-peek
    cubic-bezier(1, 0.31, 0.19, 1.27) 1.5s forwards;

  @keyframes slow-peek {
    0% {
      transform: translateY(0px);
    }
    100% {
      transform: translateY(-5px);
      color: blue;
    }
  }

  @keyframes reverse-slow-peek {
    0% {
      transform: translateY(-5px);
      color: blue;
    }
    100% {
      transform: translateY(0px);
    }
  }
}
