@import url("https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&family=Geist:wght@100..900&display=swap");
@import "tailwindcss";
@plugin "tailwindcss-motion";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@theme {
  --font-geist-mono: "Geist Mono", monospace;
  --font-geist: "Geist", sans-serif;

  --animate-slow-peek: slow-peek cubic-bezier(1, 0.31, 0.19, 1.27) 1.25s
    forwards;
  --animate-reverse-slow-peek: reverse-slow-peek
    cubic-bezier(1, 0.31, 0.19, 1.27) 1.25s forwards;

  @keyframes slow-peek {
    0% {
      transform: translateY(0px);
    }
    100% {
      transform: translateY(-5px);
      color: blue;
    }
  }

  @keyframes reverse-slow-peek {
    0% {
      transform: translateY(-5px);
      color: blue;
    }
    100% {
      transform: translateY(0px);
    }
  }

  --animate-preview-popover: preview-popover cubic-bezier(0.4, 0, 0.2, 1) 0.2s
    forwards;
  --animate-preview-popover-down: preview-popover-down
    cubic-bezier(0.4, 0, 0.2, 1) 0.2s forwards;

  @keyframes preview-popover {
    0% {
      opacity: 0;
      transform: translateY(10px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes preview-popover-down {
    0% {
      opacity: 0;
      transform: translateY(-10px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  --animate-settings-modal-up: settings-modal-up
    cubic-bezier(0.075, 0.82, 0.165, 1) 0.2s forwards;

  @keyframes settings-modal-up {
    0% {
      scale: 0.97;
      transform: translateY(7px);
    }
    100% {
      scale: 1;
      transform: translateY(0);
    }
  }
}
